<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="3">
    <listeners>
        <!--<listener class-name="listeners.ExtentReporter"/>-->
    </listeners>

    <test name="ApiTestSuite">
        <classes>
            <class name="TestNgtutorial.TestNgAnnotation"></class>
        </classes>
    </test>


</suite>